<div class="swiper">
  <div class="slider">
    <div *ngFor="let item of options; let i = index" class="slide">
      <ng-template #defaultTemplate>
        {{ item }}
      </ng-template>

      <ng-container
        [ngTemplateOutlet]="slidesTemplate || defaultTemplate"
        [ngTemplateOutletContext]="
        {
            $implicit: item,
            index: i,
            navigation: nav
        }
        "
      ></ng-container>
    </div>
  </div>

  <button class="btn next" (click)="next()">Next</button>
  <button class="btn prev" (click)="prev()">Prev</button>
</div>
