<div class="swiper">
  <div class="slider">
    <div class="slide" *ngFor="let slide of slides; let i = index">
      <ng-container
        [ngTemplateOutlet]="slidesTemplate || defaultTemplate"
        [ngTemplateOutletContext]="{
          $implicit: slide,
          index: i,
          navigation: nav
        }"
      ></ng-container>

      <ng-template #defaultTemplate>
        <img [src]="slide" />
      </ng-template>
    </div>

    <button class="btn next" (click)="slide(+1)">Next</button>
    <button class="btn prev" (click)="slide(-1)">Prev</button>
  </div>
</div>
